<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @weblog.title %>
</p>

<p>
  <strong>:</strong>
  <%= @weblog. %>
</p>

<p>
  <strong>Content:</strong>
  <%= @weblog.content %>
</p>

<p>
  <strong>:</strong>
  <%= @weblog. %>
</p>

<%= link_to 'Edit', edit_weblog_path(@weblog) %> |
<%= link_to 'Back', weblogs_path %>
